<li class="nav-item">
    <a class="nav-link btn btn-primary" asp-controller="Home" asp-action="Index">Головна</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-primary" asp-controller="Employee" asp-action="Index">Мої співробітники</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-primary" asp-controller="Project" asp-action="EmployeeProjects">Мої проєкти</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-primary" asp-controller="Project" asp-action="Index">Проєкти як керівника</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-primary" asp-controller="LeaveRequest" asp-action="Index">Мої заявки на відпустку</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-primary" asp-controller="ApprovalRequest" asp-action="Index">Заявки на підтвердження</a>
</li>
<li class="nav-item">
    <a class="nav-link btn btn-primary" asp-controller="Account" asp-action="Logout">Вихід</a>
</li>
